@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

#main-slogan-title{
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.btn-outline-lg.page-scroll{
    background-color: #ffffff;
}

#about-us-title{
    font-size: 3.2rem;
    
}

#main-slogan-title, #about-us-title{
    text-align: center;
    
}
.btn-outline-lg.page-scroll{
    color: #000;
}

#contact>.container>.row>.col-lg-12>*,
#contact>.container>.row>.col-lg-12>ul>li>a
{
    color:#003052;
    font-weight: 900;
}

#main-slogan-title{
    color:#003052;
}
.grow-up-paragraph{
    font-size: 1.2em;
}